<div class="operation-page__container">
  <h2 class="operation-page__title">Operations List:</h2>
</div>
<app-search [operationsList]="operationList" (onSearchPressed)="onSearchPressed($event)"></app-search>

<div class="operations-list__container">
  <div class="operations-list__row">
    <div class="operations-list__col-sm" *ngFor="let operation of filteredOperationList">
      <div class="operations-list__accordion accordion">
      <div class="operations-list__card card">
          <h5 class="operations-list__card-header card-header">{{ operation.name }}</h5>
          <div class="operations-list__card-body card-body">
            <h5 class="operations-list__card-label card-label">Tools:</h5>
          <app-tools class="operations-list__tools"[id]="operation.id"></app-tools>
        </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  