
*,
*::before,
*::after {
  box-sizing: border-box;
}

$font-header: 'Merriweather';
$font-body: 'Mulish';
$primary-color: #7B6DEB;
$secondary-color: #83B3FD;
$main-text-color: #2A2E34;
$supporting-text-color: #666F7D;
$main-background-color: #FAFBFC;
$supporting-background-color: #FBFBFB;
$tertiary-color: #C1C1C1;

body {
    background-color: $main-background-color;
}

@mixin theme($theme: Button) {
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  padding: 4px 8px;
  font-family: $font-body;
  font-weight: 500;
  font-size: 16px;
}

@media (min-width: 320px) {
  body {
    padding: 56px 16px 88px 16px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 88px 24px 112px 24px;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 56px 176px 112px 176px;
  }
}
